body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: royalblue;
    color: white;
    padding: 10px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

main {
    padding: 20px;
    padding-bottom: 60px;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid royalblue;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background: royalblue;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}